* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 15px;
}

ul ul, ol ul {
  margin-left: 30px;
}

ol ol, ul ol {
  margin-left: 30px;
}

table {
  border-collapse: collapse;
}

@font-face {
  font-family: "neuropol";
  src: url("fonts/neuropol-webfont.eot");
  src: url("fonts/neuropol-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/neuropol-webfont.woff2") format("woff2"), url("fonts/neuropol-webfont.woff") format("woff"), url("fonts/neuropol-webfont.ttf") format("truetype"), url("fonts/neuropol-webfont.svg#neuropolregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0 auto;
}

.width-fix {
  width: 100%;
}

header {
  order: 1;
  padding: 10px;
  text-align: center;
  background: #6a4b42;
}
header h1 {
  font-family: "neuropol", sans-serif;
  text-shadow: 0 2px 2px rgba(255, 214, 201, 0.5), 0 -2px 2px rgba(255, 214, 201, 0.5);
}
header h1::before {
  display: block;
  font-size: 0;
  line-height: 0;
  content: url("img/logo.png");
}

nav {
  position: relative;
  order: 2;
  background: #8A6155;
}
nav h3 {
  padding: 7px;
}
nav ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin-left: 0;
}
nav ul li + li {
  margin-top: 1px;
}
nav ul li a {
  display: block;
  text-align: center;
  padding: 5px;
}
nav ul li a:link, nav ul li a:visited {
  text-decoration: none;
  color: black;
  background-color: #9a6c5f;
}
nav ul li a:hover {
  background-color: #8A6155;
}
nav > :first-child {
  position: relative;
  z-index: 20;
}
nav .button, nav #menu_general_button {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 48px;
  height: 34px;
  transition: 0.4s;
}
nav #menu_general_button {
  background: url("img/icon_menu_hamburger.png") center no-repeat;
  transform: rotate(0deg);
}
nav #menu_general_button.developpe {
  background-image: url("img/icon_menu_minus.png");
  transform: rotate(-180deg);
}

main {
  order: 3;
  flex: 1;
  background: #a57a6d;
  padding: 10px;
}
main #frise_presentation {
  text-align: center;
  margin: 20px auto;
}
main #frise_presentation img {
  box-shadow: 0 0 3px black;
}
main .photo {
  text-align: center;
}
main #signature {
  font-family: amienne, dali, calibri, "book antiqua", "trebuchet ms", sans-serif;
  font-size: 25px;
  text-align: right;
  margin: 30px 0 10px;
}
main h2 {
  border-bottom: 5px solid #ffbda8;
  margin-bottom: 20px;
}
main p, main ul {
  margin-bottom: 10px;
}
main section + section {
  margin-top: 20px;
}
main section#expositions ul {
  list-style: none;
  margin-left: 0;
}
main section#expositions ul li + li {
  margin-top: 10px;
}
main section h3 {
  margin-bottom: 15px;
  padding-left: 5px;
  background-color: #d19683;
  border-left: 5px solid #c06e54;
}
main section h3 ~ * {
  padding-left: 15px;
}
main section article h4 {
  text-decoration: underline;
  margin-bottom: 10px;
}
main section article h4 ~ * {
  padding-left: 15px;
}
main #galeries {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}
main #galeries > div {
  margin-top: 20px;
}
main #galeries > div div {
  text-align: center;
}
main #galeries > div div + div {
  margin-top: 5px;
}
main #galeries > div div a {
  display: block;
  padding: 5px;
  border: 1px solid #2b1e1b;
}
main #galeries > div div a:link, main #galeries > div div a:visited {
  text-decoration: none;
  background-color: #8A6155;
}
main #galeries > div div a:hover {
  background-color: #4b352e;
}
main #galeries blockquote footer {
  background-color: transparent;
  text-align: right;
  font-style: italic;
  font-size: initial;
}
main #mini-galerie {
  width: 100%;
  height: 187px;
  overflow: auto;
  margin-bottom: 20px;
  text-align: center;
}
main #grande_photo {
  text-align: center;
  height: 504px;
}

aside {
  order: 4;
  background-color: #8A6155;
  padding: 10px;
}
aside div {
  text-align: center;
}
aside * + p, aside * + blockquote {
  margin-top: 15px;
}

footer {
  order: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 13px;
  background: #6a4b42;
}
footer ul {
  list-style: none;
  margin-left: 0;
  padding: 5px 0;
}
footer section {
  flex: 1;
  padding: 5px 15px;
}
footer section:last-child {
  flex: 1 1 100%;
}
footer section:last-child p {
  padding: 5px 0;
  text-align: justify;
}

header, nav, main, aside {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

footer, nav, main, aside {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

p, blockquote {
  text-align: justify;
}

a {
  transition: 0.3s;
}
a:link, a:visited {
  color: #ffd9cd;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

abbr {
  cursor: help;
}

hr {
  margin: 30px 0;
}

@media (min-width: 640px) {
  aside div {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  aside div div {
    margin: 15px 15px 0 0;
  }
}
@media (min-width: 768px) {
  nav {
    border-top: none;
  }
  nav h3 {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    flex: 1;
  }
  nav ul li a {
    font-weight: bold;
    color: white;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
  }
  nav ul li a:link, nav ul li a:visited {
    background-color: #8A6155;
  }
  nav ul li a:hover {
    background-color: #6a4b42;
    border-left: 2px solid #6a4b42;
  }
  nav ul li + li {
    margin-top: 0;
  }

  .photo {
    float: left;
    margin-right: 15px;
  }

  header {
    height: 162px;
    overflow: hidden;
    background: url("img/banniere.png") no-repeat center #6a4b42;
  }
  header h1::before {
    height: 162px;
    content: " ";
  }

  main #galeries {
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }
  main #galeries > div {
    margin-left: 10px;
  }
  main #galeries > div:first-child {
    order: 10;
  }
  main #galeries > div:nth-child(2) {
    margin-left: 0;
  }
  main #galeries > div + div {
    margin-top: 0;
  }
  main #galeries blockquote footer {
    padding: 0;
  }

  footer {
    flex-flow: row;
    justify-content: center;
    border-top: none;
  }
  footer section {
    flex: 0 1 auto;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
  }
  footer section + section {
    border-left: 2px solid rgba(255, 255, 255, 0.1);
  }
  footer section:last-child {
    flex: 0 1 auto;
    border-right: none;
  }
}
@media (min-width: 1024px) {
  header, nav, aside, footer {
    padding-left: calc((100% - 1024px) / 2);
    padding-right: calc((100% - 1024px) / 2);
  }

  main {
    padding-left: calc((100% - 1024px) / 2 + 10px);
    padding-right: calc((100% - 1024px) / 2 + 10px);
  }

  nav ul li:first-child {
    border-left: 2px solid rgba(0, 0, 0, 0.1);
  }
}
