@import 'reset'
@import 'palette'
@import 'mixin'
@import 'fonts/fonts'
// Convention :
// - Display et modification de l'élément dans le flux
// - largeur / hauteur
// - marges externes / internes
// - traitement du texte
// - traitement des images
// - traitement des couleurs (fond/ecriture)
// - bordures
// - ombres (box/text)
// - transformations
// - transition

body
	display: flex
	flex-flow: column
	min-height: 100vh
	font-family: sans-serif

header
	background: darken($fond, 10%)

	text-align: center

	padding: 10px

	h1
		font-family: 'neuropol', sans-serif
		text-shadow: 0 2px 2px rgba($titleBlur, 0.5), 0 -2px 2px rgba($titleBlur, 0.5)
		&::before
			display: block
			font-size: 0
			line-height: 0
			content: url('logo.png')

#main-wrapper
	flex: 1
	display: flex
	flex-flow: column

nav
	order: 1
	background: $fond

	h3
		padding: 7px
	ul
		list-style: none
		margin-left: 0

		li
			& + li
				margin-top: 1px
			a
				display: block
				text-align: center
				padding: 5px

				&:link, &:visited
					text-decoration: none
					color: black
					background-color: lighten($fond, 5%)

				&:hover
					background-color: $fond

main
	order: 2

	background: lighten($fond, 10%)
	padding: 10px

	h2
		border-bottom: 5px groove yellow
		margin-bottom: 20px
	
	p, ul
		margin-bottom: 10px

	section

		& + section
			margin-top: 20px

		&#expositions
			ul
				list-style: none
				margin-left: 0

				li + li
					margin-top: 10bpx

		h3
			margin-bottom: 15px
			padding-left: 5px
			background-color: lighten($fond2, 15%)
			border-left : 5px solid $fond2
			
			& ~ *
				padding-left: 15px

		article
			h4
				text-decoration: underline
				margin-bottom: 10px
				& ~ *
					padding-left: 15px

aside
	order: 3
	background-color: $fond
	padding: 10px

	p + p
		margin-top: 15px

footer
	text-align: center
	background: darken($fond, 10%)
	padding: 5px

header, nav, main, aside
	border-bottom: 2px solid rgba(0,0,0,0.1)

footer, nav, main, aside
	border-top: 2px solid rgba(255,255,255,0.1)

p
	text-align: justify

a
	&:link, &:visited
		color: $linkColor
	&:hover
		text-decoration: none

abbr
	cursor: help