<div id="cadre_defil_2">                                                 
    <div id="conteneur_defil_2" onmouseover="DF_ObjetDefilant_Off('objet_defilant_2')" onmouseout="DF_ObjetDefilant_On('objet_defilant_2')">
        <div id="objet_defilant_2">                                      
            {% include 'partials/tickertape_message.txt' %}
        </div>                                                           
    </div>                                                               
</div>
