<div id="xiti">
    <div id="xiti-logo">
        <script type="text/javascript">
            var xt_link=document.createElement('a');
            xt_link.href='http://www.xiti.com/xiti.asp?s=507876';
            xt_link.title='WebAnalytics';
            Xt_param='s=507876&p=Presentation';
            try{Xt_r=top.document.referrer;}
            catch(e){Xt_r=document.referrer;}
            Xt_h=new Date();
            var xt_img=document.createElement('img');
            xt_img.width='80';xt_img.height='15';xt_img.border='0';
            Xt_param+='&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
            if(parseFloat(navigator.appVersion)>=4){Xt_s=screen;Xt_param+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
            Xt_param+='&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$');
            xt_img.src='http://logv17.xiti.com/g.xiti?'+Xt_param;
            xt_link.appendChild(xt_img);
        </script>
    </div>
    <noscript>
        <div id="xiti-logo-noscript">
            <a href="http://www.xiti.com/xiti.asp?s=507876" title="WebAnalytics" ><img width="80" height="15" src="http://logv17.xiti.com/g.xiti?s=507876&p=Presentation" alt="WebAnalytics - AT Internet" /></a>
        </div>
    </noscript>
    <script type="text/javascript">
        document.getElementById('xiti-logo').appendChild(xt_link);
    </script>
</div>
