{# view.partials/aside.html.twig #}

<aside>
	<p>
		Une envie d'absolu, de beauté et de sérénité...<br/>
		Une embellie de l'existence ininterrompue depuis une quinzaine d'années. L'ikebana a comblé mes attentes et bien au-delà...<br/>
		Puiser à la source de la nature pour se rencontrer soi-même... <br/>
	</p>
Diplômée de l'école SOGETSU de Tokyo, Christine GUILLEMOT, Maître Ikebana <sup>2ème</sup> degré, enseigne cet art au sein de l'Atelier EIKA

</aside>
