{# view/partials/footer.html.twig #}

<footer>
	<section>
		<h4>Liens officiels</h4>
		<ul>
			<li><a href="http://afjd.fr/">Association franco-japonaise de Dijon</a></li>
			<li><a href="http://www.fr.emb-japan.go.jp/">Ambassade du Japon en France</a></li>
			<li><a href="http://www.sogetsu.or.jp/">Ecole Sogetsu Japon</a></li>
		</ul>
	</section>
	<section>
		<h4>Partenaires</h4>
		<ul>
			<li><a href="http://clubphotoquetigny.fr/">Club photo Quetigny</a></li>
			<li><a href="http://lesphotosduphil.fr/">Philippe</a></li>
			<li><a href="http://nedphotos.com/">Edmond Nowak</a></li>
			{# <li><a href="http://alainbaudard-photo.fr/">Studio 333</a></li> #}
		</ul>
	</section>
	<section id="archives">
		<h4>Archives</h4>
		<ul>
			<li><a href="{{ root}}archives">Consulter</a></li>
		</ul>
	</section>
	<section>
		<h4>Copyright</h4>
		<p>&copy; 2008 - {{ now | date('Y') }} Atelier Eika Ikebana (Association Loi 1901). Tous droits réservés.<br/>
		Les photos de ce site ne sont pas libres de droit.</p>
	</section>
</footer>