{# view/partials/nav.html.twig #}

<nav id="menu_general">
	<h3>Menu</h3>
	<ul>
		<li><a href="#">Accueil</a></li>
		<li><a href="#">Activités</a></li>
		<li><a href="#">Galeries</a></li>
		<li><a href="#">Partager l'art</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>
