{# view/partials/nav.html.twig #}

<nav>
	<h3>Menu</h3>
	<ul>
		<li><a href="#">Lien</a></li>
		<li><a href="#">Lien</a></li>
		<li><a href="#">Lien</a></li>
		<li><a href="#">Lien</a></li>
		<li><a href="#">Lien</a></li>
	</ul>
</nav>
