{# view/activites.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}
	Activités - {{ parent() }}
{% endblock %}

{% block main %}
	<h2>Activités</h2>
	<section id="cours">
		<h3>Cours</h3>
		<p>Quatre modules de cinq cours sont proposés dans l'année :</p>
		<ul>
			<li>Module d'automne : septembre à mi-novembre ;</li>
			<li>Module d'hiver : mi-novembre à janvier ;</li>
			<li>Module de printemps : février à mi-avril ;</li>
			<li>Module d'été : mi-avril à juin.</li>
		</ul>
		<p>Horaires des cours :</p>
		<ul>
			<li>Mardi (élèves confirmés) :
				<ul>
					<li>de 15h à 16h30 ;</li>
					<li>de 17h à 18h30.</li>
				</ul>
			</li>
			<li>Vendredi :
				<ul>
					<li>de 14h15 à 16h15 ;</li>
					<li>de 18h30 à 20h30.</li>
				</ul>
			</li>
		</ul>
		<p>Il est possible d'intégrer un module en cours d'année.</p>
		<p>L'association met à disposition des élèves un large choix de vases et prête des <abbr title="Pique-fleur japonais">kenzan</abbr>. Elle fournit les végétaux, branches, écorces et fleurs nécessaires à la confection des bouquets.</p>
	</section>
	<section id="stages">
		<h3>Stages</h3>
		<article>
			<h4>Atelier Parcours Créatif</h4>
			<p>Stage pour débutants et confirmés</p>
			<p>Samedi 22 août 2015 :</p>
			<ul>
				<li>9h30 : herborisation avec un guide ONF</li>
				<li>12h30 : repas tiré du sac</li>
				<li>14h30 : réalisation du bouquet</li>
			</ul>
		</article>
		<article>
			<h4>Atelier Grand Elan</h4>
			<p>Stage pour débutants et confirmés. (Stage complet)</p>
			<p>Samedi 25 juillet 2015 de 14h30 à 17h : création d'un bouquet unique.</p>
		</article>
		<article>
			<h4>Stage spécial Nouvel An</h4>
			<p>Stage pour débutants et confirmés.</p>
			<p>Samedi 27 décembre 2014 de 14h30 à 17h.</p>
		</article>
	</section>
	<section id="expositions">
		<h3>Expositions</h3>
		<ul>
			<li><strong>"Cinquantenaire de Sainte-Bernadette"</strong> : Du 17 au 25 mai 2014, Eglise Sainte-Bernadette de Dijon.</li>
			<li><strong>"Ikebana, art et religion"</strong> : Du 24 décembre 2013 au 6 janvier 2014, Eglise Notre-Dame de Dijon.</li>
			<li><strong>"Bouquets d'Automne"</strong> : Samedi 20 et dimanche 21 octobre 2012, Salle des Banquets de Plombières-lès-Dijon.</li>
			<li><strong>"Du côté du Japon"</strong> : Du 25 au 30 septembre 2012, Cellier de Clairvaux de Dijon.</li>
		</ul>
	</section>
	<section>
		<h3 id="arrangements">Arrangements floraux évènementiels</h3>
		<p>
			Invitez l'esprit du Japon dans vos cérémonies, repas de fêtes, évènements familiaux, séminaires professionnels...<br/>
			Réalisation d'ikebana sur demande pour galeries d'art, restaurants, hôtels, spa, cabinets médicaux... N'hésitez pas à nous contacter.
		</p>
	</section>
{% endblock %}
