{# view/contact.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}
	Contact - {{ parent() }}
{% endblock %}

{% block main %}
	<h2>Contact</h2>
	<p>
		N'hésitez pas à me contacter pour toute question ou information à l'adresse <a href="mailto:eika-ikebana@laposte.net">eika-ikebana@laposte.net</a>
	</p>
{% endblock %}