{# view/partials/footer.html.twig #}
<!--
<footer>
		<h2>Bonjour {{ nom }}</h2>
	&copy; 2008 - {{ "now"|date("m/d/Y") }} Atelier Eika Ikebana (Association Loi 1901). Tous droits réservés.<br/>
	Les photos de ce site ne sont pas libres de droit.
</footer>
-->
