{# view/index.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block main %}
	<div id="frise_presentation"><img src="{{ root }}img/frise_presentation_{{ saison }}.jpg" alt="Frise de présentation" /></div>
	<h2>Présentation</h2>
	<p>
		L'ikebana est un voyage au pays du soleil levant, une quête de sérénité et d'équilibre. <br/>
		Au-delà d'un idéal d'esthétisme, la pratique de l'ikebana vise à atteindre l'harmonie intérieure et se met au service de l'expression de l'émotion.<br/>
	</p>
	<p>
		Art très codifié, il était autrefois réservé à la classe des samouraïs et des moines bouddhistes. S'il reste confidentiel, il est néanmoins accessible à tous.<br/>
		Tantôt traditionnel, tantôt avant-gardiste, le bouquet surprend par sa pureté, son asymétrie, sa sobriété et son graphisme. Mais il étonne aussi par sa symbolique, la place accordée au vide et la recherche de l'utilisation de l'espace, laissant le regard s'approprier le bouquet.
	</p>
	<p>
		Pratiquer l'ikebana, c'est apprivoiser les végétaux, dialoguer avec les fleurs, laisser vagabonder l'imagination et s'installer la créativité.
	</p>
	<p>
		Un courant résolument moderne est apporté en 1927 par Sofu Teshigahara lorsqu'il fonde l'école Sogetsu selon trois grands principes :
	</p>
	<ul>
		<li>L'ikebana peut être pratiqué par tout le monde ;</li>
		<li>L'ikebana s'affranchit du <abbr title="Alcôve où est disposé le bouquet">tokonoma</abbr> et s'invite dans toutes les pièces de la maison, dans la rue, dans les lieux publics ;</li>
		<li>Un ikebana peut se faire avec n'importe quels végétaux et matériaux, même les plus insolites.</li>
	</ul>
	<p>
		Les élèves apprennent les styles de base du <abbr title="Bouquet bas">moribana</abbr> et du <abbr title="Bouquet haut">nageire</abbr>, progressent selon l’ensemble des variations puis accèdent aux compositions de style libre.
	</p>
{% endblock %}

{% block aside %}
	<aside>
		<div>
			<div><img src="{{ root }}img/photo_christine.jpg" alt="Christine Guillemot" /></div>
			<blockquote>
				" Une envie d'absolu, de beauté et de sérénité...<br/>
				Une embellie de l'existence ininterrompue depuis une quinzaine d'années. L'ikebana a comblé mes attentes et bien au-delà...<br/>
				Puiser à la source de la nature pour se rencontrer soi-même..."
			</blockquote>		
		</div>
		<p>Diplômée de l'école SOGETSU de Tokyo, Christine Guillemot, Maître Ikebana 2<sup>ème</sup> degré, enseigne cet art au sein de l'Atelier EIKA.</p>
	</aside>
{% endblock %}
