{# view/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Atelier Eika Ikebana Dijon{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ root }}css/style.min.css">
</head>
<body>
	{% include 'partials/header.html.twig' %}
	<div id="main-wrapper">
		<main>
			{% block main %}{% endblock %}
		</main>
		{% include 'partials/nav.html.twig' %}
		{% include 'partials/aside.html.twig' %}
	</div>
	{% include 'partials/footer.html.twig' %}
	{% include 'partials/scripts.html.twig' %}
</body>
</html>
