{# view/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Atelier Eika Ikebana Dijon{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
	{% include('partials/header.html.twig') %}
	<main>
		<h2>Bonjour {{ nom }}</h2>
	</main>
	<nav>
	</nav>
	<aside>
	</aside>
	<footer>
	</footer>
</body>
</html>
