{# view/partager_lart.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}
	Partager l'art - {{ parent() }}
{% endblock %}

{% block main %}
	<h2>Partager l'art...</h2>
	<p>
		Donner des cours, transmettre son art, voir ses élèves progresser est extrêmement gratifiant pour un professeur. Je m'émerveille souvent de la créativité de chacun(e) dès que l'occasion est donnée de composer un bouquet libre.
	</p>
	<p>
		Mais j'apprécie également me retrouver sur le banc des étudiants, le temps d'un cours ou d'un stage avec un maître. Poursuivre l'étude de l'art floral japonais facilite l'émulation, la recherche inventive et me donne mon plein potentiel créatif.
	</p>
	<p>
		Aujourd'hui l'école SOGETSU progresse sous l'impulsion du iemoto actuel TESHIGAHARA Akane qui insuffle son énergie dans l'actualisation du programme d'enseignement. Cette évolution montre combien notre école est soucieuse de nouveauté tout en préservant le caractère sacré et traditionnel de l'ikebana.
	</p>
	<div class="photo"><img src="img/photo_dos.jpg" alt="Christine Guillemot" title="Christine Guillemot" /></div>
	<p>
		Cependant, l'ikebana est éphémère...
	</p>
	<p>
		Et s'il est agréable pour moi de créer, il est aussi important de pérenniser le bouquet par ce beau medium qu'est la photographie.
	</p>
	<hr />
	<p>
		Quand les arts se rencontrent...
	</p>
	<p>
		Confier le bouquet au regard du photographe, restituer l'âme de l'ikebana peut s'avérer difficile. Mais Alain, Bernard et Philippe ont relevé le défi avec patience et humour, chacun ouvrant avec sa propre sensibilité artistique. De cette étroite collaboration ont jailli des images magnifiques, reflets d'une réelle maîtrise ; Bernard a opté pour un éclairage naturel, Alain et Philippe ont préféré le studio, et le talent a fait le reste.
	</p>
	<p>
		Au-delà des remerciements, il y a la joie de belles rencontres, de réciprocités d'énergies constructives et la concrétisation d'un projet. Alors à tous trois... Hontoni Arigato !
	</p>
	<div id="signature">Christine Guillemot</div>
{% endblock %}